<h1>Listagem de Pedidos</h1>
<%= form_for @order, as: :order, url: root_path(@order), method: :get do |f| %>
	<%= search_field_tag 'order[number]', @order.number.nil? ? 'Pesquisar por código' : @order.number %>
	<%= f.hidden_field :offset, value: 0 %>
	<%= f.submit 'Pesquisar'%>
<% end %>

<% if @orders.blank? %>
	<h3><%= "Nenhum pedido cadastrado #{@order.number.nil? ? "" : "com o número desejado"}" %></h3>
<% else %>
	<% @orders.each do |order| %>
		<h3>Pedido <%= order.number %></h3>

		<table>
			<tr>
				<th>Código de Barras</th>
				<th>Produto</th>
				<th>Quantidade</th>
				<th>Promoção?</th>
				<th>Preço</th>
				<th>Valor Pago</th>
			</tr>
			<% order.product_orders.each do |product_order| %>
				<tr>
					<td><%= product_order.product.bar_code %></td>
					<td><%= product_order.product.description %></td>
					<td><%= product_order.quantity %></td>
					<td><%= product_order.special_offer_name %></td>
					<td><%= product_order.normal_price %></td>
					<td><%= product_order.final_price %></td>
				</tr>
			<% end%>
			<tr>
				<td colspan="5">Taxa de Entrega</td>
				<td><%= order.delivery_fee %></td>
			</tr>
			<tr>
				<td colspan="5">Total</td>
				<td><%= order.total_order_amount %></td>
			</tr>
		</table>
		<hr>
	<% end %>
<% end %>
<% if @total_paginations > 1 %>
	<% order = @order %>
	<% hash = Hash.new%>
	<% if order.offset.to_i > 0 %>
		<%= form_for @order, as: :order, url: root_path(@order), method: :get do |f| %>
			<%= f.hidden_field :number, value: @order.number %>
			<%= f.hidden_field :offset, value: (@order.offset.to_i - 1) %>
			<%= f.submit '<<'%>
		<% end %>
	<% end %>
	<%= "#{ @order.offset.to_i + 1} de #{ @total_paginations }" %> 
	<% if order.offset.to_i < (@total_paginations - 1) %>
		<%= form_for @order, as: :order, url: root_path(@order), method: :get do |f| %>
			<%= f.hidden_field :number, value: @order.number %>
			<%= f.hidden_field :offset, value: (@order.offset.to_i + 1) %>
			<%= f.submit '>>'%>
		<% end %>
	<% end %>
<% end %>