<h1>Pedido <%= @order.number %></h1>

<table>
	<tr>
		<th>Código de Barras</th>
		<th>Produto</th>
		<th>Quantidade</th>
		<th>Promoção?</th>
		<th>Preço</th>
		<th>Valor Pago</th>
	</tr>
	<% @order.product_orders.each do |product_order| %>
		<tr>
			<td><%= product_order.product.bar_code %></td>
			<td><%= product_order.product.description %></td>
			<td><%= product_order.quantity %></td>
			<td><%= product_order.special_offer_name %></td>
			<td><%= product_order.normal_price %></td>
			<td><%= product_order.final_price %></td>
		</tr>
	<% end%>
	<tr>
		<td colspan="5">Taxa de Entrega</td>
		<td><%= @order.delivery_fee %></td>
	</tr>
	<tr>
		<td colspan="5">Total</td>
		<td><%= @order.total_order_amount %></td>
	</tr>
</table>
